.safe-area {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: auto; 
}

.register-container {
  max-width: 420px;
  margin: 50px auto;
  overflow: visible;
}

.imgFundo {
  position: fixed;   
  top: 60%;             
  left: 60%;           
  transform: translate(-50%, -50%) rotate(20deg); 
  width: 300px;         
  opacity: 0.2;        
  pointer-events: none; 
  z-index: 0;          
}

.btn-upload-img{
  border: none;
  background-color: rgb(184, 3, 3);
  opacity: 0.6;
  cursor: pointer;
}

.btn-upload-img:hover{
  opacity: 1;
  scale: 1.1;
  border: #ccc;
}

.themed-text-input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: var(--background);
  color: var(--text);
  font-size: 16px;
}

.themed-text-input:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btns-forms-pet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

select.themed-text-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 16px;
  padding-right: 40px;
}