.themed-input-wrapper {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  width: 100%
}

.themed-text-input {
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 6px;
  font-size: 1rem;
  min-width: 100%;
  box-sizing: border-box;
  font-weight: bold;
}
